<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask Bucket List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/nav_active.js"></script>
    <link href="../static/css/bs_callout.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <link rel="icon" type="images/png" href="/static/images/favicon.png">
  </head>

  <body>
    <div class="container" style="padding: 8px 0;">
      <nav>
        <ul class="nav nav-pills pull-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showSignIn">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showSignUp">Sign Up</a>
          </li>
        </ul>
      </nav>
    </div>
    
    <div class="container"> 
      {% block body %}{% endblock %}
    </div>
    
    <div class="container">
      <footer class="footer">
          <a href="https://github.com/kyungguyeo/flask_learnings/tree/master/bucket_list" target='_blank'><img src='/static/images/github.png' style="width:32px;height:32px;display:block;margin:0 auto"></a>
          <p style='text-align: center;'>&copy;2016</p>
      </footer>
    </div>  
  </body>
</html>

