<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Python Flask Bucket List App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<link href="../static/css/bs_callout.css" rel="stylesheet">
		<link href="../static/css/signup.css" rel="stylesheet">
		<script src="../static/js/jquery-1.11.2.js"></script>
		<script src="../static/js/nav_active.js"></script>
		<script src="../static/js/addbucketlist.js"></script>
		<script src="../static/js/removebucketlist.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<link rel="icon" type="images/png" href="/static/images/favicon.png">
	</head>

	<body>
		<div class="container" style="padding: 8px 0;">
			<nav>
				<ul class="nav nav-pills pull-xs-right">
					<li class="nav-item">
						<a class="btn btn-danger" href="/showSignOut" role="button">Sign Out</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="container">
			<div class="jumbotron">
			  <h3>Hello {{name}}!</h3>
			  <form class="form-group" id="task-form" method="POST">
			    <p>What will you cross off your bucket list today?</p>
			    <input id="task_desc" name="inputTask" type="text" class="form-control" placeholder="New bucketlist task..." style="width: 200px; display: inline; height: 50px;">
			    <input id="AddBucketList" class="btn btn-lg btn-success" type="submit" value="Add">
			  </form>
			</div>
		</div>

		<div class="container">
			{% for task in tasks %}
			<div class="card card-inverse card-primary text-xs-center col-lg-6">
				<div class="card-block">
					<h4 class="card-title">{{ task.task_description }}</h4>
					<p class="task-id" style="visibility: hidden;">{{ task.task_id }}</p>
					<div class="btn-group" role="group">
						<button id='taskcomplete' class="btn btn-success" type="button">It's Done!</button>
						<button id='taskremove' class="btn btn-danger" type="button">Remove</button>
					</div>
				<footer class="text-muted">{{ task.date_created }}</footer>
				</div>
			</div>
			{% endfor %}
		</div>
	    
	    <div class="container">
	      <footer class="footer">
          	  <a href="https://github.com/kyungguyeo/flask_learnings/tree/master/bucket_list" target='_blank'><img src='/static/images/github.png' style="width:32px;height:32px;display:block;margin:0 auto"></a>
          	  <p style='text-align: center;'>&copy;2016</p>
	      </footer>
	    </div> 
		</div> 
	</body>
</html>
