<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <!--<link href="../static/css/bs_callout.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script> -->
   
  </head>

<!-- {% block body%} -->
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item">
            Cras justo odio
            <span class="label label-default label-pill pull-xs-right">14</span>
            <span class="label label-default label-pill pull-xs-right">14</span>
            <span>
              <form action="/completeTask" method="post">
                <input id='taskcomplete' class="btn btn-success" type="submit" value="It's Done!"></input>
                <select name="task-id" style="<visibility: hidden; height: 0px; width: 0px;">
                  <option value={{ task.id }}>{{ task.id }}</option>
                </select>
              </form>
              <form action="/deleteTask" method="post">
                <input id='taskremove' class="btn btn-danger" type="submit" value="Remove"></input>
                <select name="task-id" style="<visibility: hidden; height: 0px; width: 0px;">
                  <option value={{ task.id }}>{{ task.id }}</option>
                </select>
              </form>
            </span>
          </li>
          <li class="list-group-item">
            <span class="label label-default label-pill pull-xs-right">2</span>
            <span class="label label-default label-pill pull-xs-right">2</span>
            Dapibus ac facilisis in
          </li>
          <li class="list-group-item">
            <span class="label label-default label-pill pull-xs-right">1</span>
            <span class="label label-default label-pill pull-xs-right">2</span>
            Morbi leo risus
          </li>
        </ul>
      </div>
<!-- {% endblock %}     -->



</html>

